body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(252, 252, 252);
    text-align: 1rem
    ;
  }
table{
    margin: 1rem;
    margin-left: 18rem;
    padding: 2rem;  
    width: 40%;
}
th, td {
   background-color: #f1f1f1;
    padding: 8px;
}

table, th,td {
    border: 1px solid white;
    border-collapse: collapse;
}
  * {
    box-sizing: border-box;
   
  }
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}
  label[for=text] {
    margin: 1rem;
    padding: 1rem;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border: 0cap;
    border: radius 2cap;
  }
  .myc{
    -ms-flex: 50%;
    flex: 25%;
  }
  
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
   
  
  hr {
    border: 1px solid lightgrey;
  }
  
  body{
    background-image: url(/images/bg.webp);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin-top: 2rem ;
  }