.discount{
    background-color: grey;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-color: rgb(232, 237, 238);
    padding: .25%;
}

#logo-wrapper{
    text-align: center;
    padding: 1rem;
}

#lg{
  width: 10%;
  display: block;
  margin: auto;

}
#background{
    position: relative;
    width: 100%;
    height: ;
}


.box{
    padding: 16px;
    background-color: white;
    width: 100%;
}
.card{
    display: inline-block;
    margin: auto;
    width: 40vw;
    height: auto;

}

