body{
  font-size: 1.5vh;
}
.navlogo{
  width: 5%;
}
.navbar {
    background-color: #333333b0;
    overflow: hidden;
  }
 .navbar-expand-lg-bg-body-tertiary{
  background-color: #333333;
 }
  .navbar a {
    /* background-color: #333333b0; */
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #181111;
    color: white;
  }

.btn {
  background-color: #ddd;
}

.footer {
  background-color: #333333;
  color: black;
  text-align: center;
  padding: 20px 0;  
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: dodgerblue;
  text-decoration: none;
  margin: 0 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 5px 0;
}

