.discount{
    background-color: rgb(226, 193, 178);
    padding: 0.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-page{
    background-image: url(/images/bg.webp);
    background-repeat: no-repeat;
    background-size:100vw 43vh;
    height: 100%;
    background-color: rgb(197, 208, 125);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.center{
  text-align: center;
}

.navbar {
  background-color: #33333388;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #ddd;
  color: white;
}

#lg{
  width: 25%;
  opacity: 0.8;
  display: block;
  margin: auto;

}

.box{
    padding: 16px;
    background-color: white;
    width: 100%;
}

.navbar img {
  height: 60px; /* Adjust the size of the logo */
}
