.bg-body-tertiary {
  --bs-bg-opacity: 0.8; 
  background-color: #333333b0 !important; 
}
.card{
    display: inline-block;
    min-height: 40vh;
    margin: 1rem;
}
.card-img-top{
width: 16rem;
height: 18rem;
object-fit: contain;
}

.card-body{
  text-align: center;
  color: black;
}

.minilogo{
  width: 30%;
}
.btn-primary{
  background-color: dodgerblue;
  margin: 0.5rem;
}

body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 200vh 200vw;
  margin-top: 2rem ;
}
