body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(images/bg.webp);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: black;
  margin-top: 2rem ;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0.8; 
  background-color: #333333b0 !important; 
  
}

   .container {
    background-color: white;
    padding: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}
  .container input[type=text],.container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  a {
    color: dodgerblue;
  }

 .container .btn {
    background-color: dodgerblue;
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  #term{
    text-align: center;
    background-color: #f1f1f1;
  } 
  
 
.login {
    text-align: center;
    background-color: #f1f1f1;
  }
 
.how label{
    display: block;
}

input{
    display: block;
}

input[type=radio]{
    display: inline-block;
}
body{
  background-image: url(./images/bg.webp);
  background-repeat: no-repeat;
  background-size: 210vh 100vw;
}